<div class="container">
  <!-- Title -->
  <h2>User Rating on business</h2>


  <!-- Input -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Name of User</span>
    </div>
    <input id="user-name" type="text" class="form-control">
  </div>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Name of Business</span>
    </div>
    <input id="business-name" type="text" class="form-control">
  </div>

  <!-- Buttons -->
  <div class="btnGroup">
    <button id="submit-btn" class="btn btn-outline-info leftbtn">Enter</button>
    <button id="back-btn" class="btn btn-outline-secondary rightbtn">Back</button>
  </div>
</div>