<div class="container">
    <!-- Title -->
    <h2>Day of the week with the most checkins for a business</h2>
    <p>Please input the following information needed for the query:</p>

    <!-- Input -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name of Business</span>
      </div>
      <input id="business_name" type="text" class="form-control">
    </div>

    <!-- Buttons -->
    <div class="btnGroup">
      <button id="btn_genre_director" class="btn btn-outline-info leftbtn">Enter</button>
      <button onclick="window.location='/'" class="btn btn-outline-secondary rightbtn">Back</button>
    </div>
</div>
