<div class="container">
  <!-- Title -->
  <h2>Hourly Active Rate</h2>


  <!-- Inputs -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Checkin time</span>
    </div>
    <input id="checkin-time" type="text" class="form-control">
  </div>



  <!-- Buttons -->
  <div class="btnGroup">
    <button class="btn btn-outline-info leftbtn" id="submit-btn">Enter</button>
    <button class="btn btn-outline-secondary rightbtn" id="back-btn">Back</button>
  </div>
</div>