<div class="container">
  <!-- Title -->
  <h2>Useful Reviews of Category</h2>


  <!-- Input -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Category</span>
    </div>
    <input id="category-input" type="text" class="form-control">
  </div>



  <!-- Buttons -->
  <div class="btnGroup">
    <button id="submit-btn" class="btn btn-outline-info leftbtn">Enter</button>
    <button id="back-btn" class="btn btn-outline-secondary rightbtn">Back</button>
  </div>
</div>